@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");



.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

/* body {
  overflow: hidden;
} */

.overlay {
  opacity: 100;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.Back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("./images/black.jpg");  */
  background-color: rgb(0, 0, 0);


    
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 15px;
	/* background-color: #3c3c3c; */
	/* border-bottom: 3px solid #56E3B8; */
}

header h1 {
	color: #EEE;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}

.faqs {
	width: 100%;
	font-size: 76%;
	max-width: 660px;
	margin: 0 auto;
	padding: 15px;
}

.faqs .faq {
	margin: 15px;
	padding: 10px;
  color: rgb(20, 174, 43);
	background-color: rgba(252, 252, 252, 0.093);
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
	position: relative;
	font-size: 20px;
	padding-right: 8px;
  

	transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
  

background-image: url('./arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  
	transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.2s ease-out;
}

.faqs .faq.open .faq-question {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
	transform: translateY(50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}

.mile{
  background-color: rgba(252, 252, 252, 0.093);
}